services:
  chroma:
    image: chromadb/chroma:latest
    ports:
      - "8001:8000"
    volumes:
      - /home/scossar/projects/python/semantic_search/chroma:/data
    environment:
      - IS_PERSISTENT=TRUE

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - chroma
    volumes:
      - ./app:/code/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload # reload on changes to /app
    environment:
      - CHROMA_HOST=chroma
      - CHROMA_PORT=8000
